doctype html
//
  Big Picture by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Mistress Mercedes Malcriada
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/assets/css/main.css')
    noscript
      link(rel='stylesheet', href='/assets/css/noscript.css')
  body.is-preload
    // Header
    header#header
      h1 Mistress Mercedes Malcriada
        a.spaceleft.icon.fa-instagram(href='https://www.instagram.com/mistress_mercedes/')
          span.label Instagram
      nav
        ul
          li
            a(href='#one') Who I Am
          li
            a(href='#two') Offerings
          li
            a(href='#one-b') Bookings
          li
            a(href='#work') Photos
          li
            a(href='#contact') Session Request
    // Intro
    section#intro.main.style1.dark.fullscreen
      .content
        header
        footer
          a.button.style2.down(href='#one') More
    // One
    section#one.main.style2.left.dark.fullscreen
      .content.box.style2
        header
          h2 Who I Am
        p I am a highly educated Dominant woman in my twenties. Studying sexuality at a prestigious women’s college led me to discover my own proclivities for kink. I can still remember the first kinky implement I purchased and the rush I felt as I whipped my girlfriend in my college dorm. That rush returns when chemistry and fantasy collide. I am deeply interested in the unconscious mind and the things we are inexplicably drawn towards. The psychological nature of BDSM keeps me ever engaged in this beautiful underworld.

        | In addition to being a degreed sex educator, I am also a highly trained exercise specialist. Over ten years of classical ballet training shaped my body and mind to reflect the physical discipline to which I submitted. I continue down this path of discipline as a Mistress. However, discipline informs my work just as much as my own mindfulness practices do.

        | Between all of my studies I have obtained a vast knowledge of the anatomical, emotional, erotic, and spiritual body. I truly believe in the healing abilities of BDSM. Play can help you work through the darker places in your unconscious, taboos and even trauma. Play can just as easily be sensual, fun, hilarious, and joyful. No matter the directions we choose to explore together I am a grounded practitioner who plays from a place of intuition and honesty.

      a.button.style2.down.anchored(href='#two') Next
    // Two
    section#two.main.style2.right.dark.fullscreen
      .content.box.style2
        header
          h2 OFFERINGS
        p If you want to get to know me, you’re in the right place. I only engage in forms of play that are mutually enjoyable, consensual, and legal. Here I lay bare my most favorite activities.
        .row
          b.columnify-left.underline.left-align.thirteen Getting under your skin:
          p.columnify-right Invasive forms of play are intimate and thus my most beloved. They reach beyond physicality into your energetic depths. These taboo practices are my specialty!
        .row 
          b.columnify-left.left-align &#x25BC; Anal play: 
          p.columnify-right Prostate massage, strap-on, & enemas: Not one for modesty, I consider myself a Queen of anal play!
        .row
          b.eleven.left-align &#x25BC; Sounding/Urethral dilation & catheters
        .row 
          b.eleven.left-align &#x25BC; Piercing play & Cupping
        .row
          b.columnify-left.underline.thirteen.left-align Stimulating your senses:
          p.columnify-right Whether you’re a novice or a seasoned player, a fetishist or a submissive, these sensory modes of play can be both playful and healing. Bring your attention to each of your senses for a deeply embodied, erotic experience.
        .row 
          b.columnify-left.left-align &#x25BC; Fluids: 
          p.columnify-right Golden showers & spitting
        .row 
          b.columnify-left.left-align &#x25BC; Foot & Body worship: 
          p.columnify-right Accepted from the worthy
        .row 
          b.columnify-left.left-align &#x25BC; CBT:
          p.columnify-right Implements, bondage, chastity
        .row 
          b.columnify-left.left-align &#x25BC; Verbal Play:
          p.columnify-right Humiliation, playful, sensual
        .row 
          b.columnify-left.left-align &#x25BC; Tease & Denial:  
        .row
          b.eleven.left-align &#x25BC; Electro-stimulation
        .row 
          b.eleven.left-align &#x25BC; Smothering
        .row 
          b.eleven.left-align &#x25BC; Tickle Torture
        .row 
          b.eleven.left-align &#x25BC; Nipple play/torture 
        .row
          b.eleven.left-align &#x25BC; Sensory Deprivation
        .row
          b.columnify-left.underline.left-align.thirteen Impact play:
          p.columnify-right The sound of my hand making contact with your bare ass. The crack of leather on your thighs. The cries that escape your lips. Need I say more about corporal punishment?
        .row 
          b.columnify-left.left-align &#x25BC; Bare Hands:
          p.columnify-right Face slapping, punching, spankings, etc
        .row
          b.columnify-left.left-align &#x25BC; Implements:
          p.columnify-right Flogging, Caning, Paddling, Domestic Items, Dragon Tails
        .row 
          b.columnify-left.left-align &#x25BC; Ball Busting:
          p.columnify-right something I truly enjoy!
        .row
          b.columnify-left.underline.left-align.thirteen My favorite fantasies:
          p.columnify-right Creative role plays allow you and me to delve into many forms of play. Role plays never feel like acting for me, but tapping into different parts of my own being. Below are just a few of the devious fantasies that get my heart racing. However, there are an infinity of roleplays in which we can engage. Tell me the roleplays you’re most excited to explore with me.
        .row 
          b.columnify-left.left-align &#x25BC; Medical Play:
          p.columnify-right This is one of my favorite areas of play. Whether I’m administering a catheter or giving you electro shock treatment my eyes will light up with devious delight. Which hole will I need to examine?!
        .row 
          b.columnify-left.left-align &#x25BC; Mind fucks: 
          p.columnify-right Ever been turned on by the idea of a stranger getting to do whatever she wants with you?
        .row 
          b.columnify-left.left-align &#x25BC; Gender play:
          p.columnify-right I am deeply bored by men who think that women are submissive and weak. In case you need reminding that gender roles are nothing more than manufactured falsities I can put you in your place with a variety of wooden, leather, and silicone toys.
        .row 
          b.columnify-left.left-align &#x25BC; Pet play:
          p.columnify-right I love teaching a bad dog how to behave and training a pony how to prance. Wouldn’t you like to curl up at Mistress’ feet?
        .row 
          b.columnify-left.left-align &#x25BC; Work-out:
          p.columnify-right As a certified exercise specialist I know more about proper form and how to push your body than you do. Want to take your daily dose of domination and fitness in one session? 
        .row
          b.columnify-left.left-align &#x25BC; Verbal Humiliation: 
          p.columnify-right I love telling you all of the things that I truly find undesirable about you.
          
      a.button.style2.down.anchored(href='#one-b') Next
      // One
    section#one-b.main.style2.left.dark.fullscreen
      .content.box.style2
        header
          h2 Bookings
        b Location:
        p.left-align#no-flex &#x25BC; Incall: I am currently available for sessions in the San Francisco Bay Area. Travel updates are available on my social media. Black Thorn dungeon in the Lake Merritt area of Oakland is my favorite dungeon out of which to play! Take a look at this well equipped dungeon in a beautifully decorated Victorian mansion 
          a(href='https://black-thorn.org/#gallery') here
          | . I request that you pay the $70 non-refundable dungeon rental fee in advance via Cash App.
        p.left-align &#x25BC; Outcall: I am also available for outcalls to your upscale hotel within the surrounding Bay Area. I include an additional $100 for my travel time.
        br
        b Tribute:
        p Please take note that my rates are for my time only. My rates begin at $300 an hour. As my time is valuable I expect any cancellations to occur before a 24 hour window. Tribute for any cancellations that do occur within this window are expected in full. To secure a session with me I require a $170 deposit via CashApp ($100 towards my tribute and $70 towards dungeon rental fees). The rest of my tribute is to be paid in cash the day of our session.
        br
        b References:
        p Please provide the name, website, and email of other professionals with whom you have played. This is my preferred reference method, but we can also discuss employment verification or in person consultations and the respective $50 and $100 fees required for the time needed to conduct either. 

      a.button.style2.down.anchored(href='#work') Next
    // Work
    section#work.main.style3.primary
      .content
        header
        // Gallery
        .gallery
          article.from-left
            a.image.fit(href='images/fulls/01.jpg')
              img(src='images/thumbs/01.jpg', title='☾', alt='')
          article.from-right
            a.image.fit(href='images/fulls/02.jpg')
              img(src='images/thumbs/02.jpg', title='☾', alt='')
          article.from-left
            a.image.fit(href='images/fulls/03.jpg')
              img(src='images/thumbs/03.jpg', title='☾', alt='')
          article.from-right
            a.image.fit(href='images/fulls/04.jpg')
              img(src='images/thumbs/04.jpg', title='☾', alt='')
          article.from-left
            a.image.fit(href='images/fulls/05.jpg')
              img(src='images/thumbs/05.jpg', title='☾', alt='')
          article.from-right
            a.image.fit(href='images/fulls/06.jpg')
              img(src='images/thumbs/06.jpg', title='☾', alt='')
    // Contact
    section#contact.main.style3.secondary
      .content
        header.light-text
          h4 Say Hello, Bitch.
          p#myInput.underline Email: MistressMercedesMalcriada@gmail.com
          p#myInput.underline Switter: @mistressmercedesmalcriada
          p#myInput.underline Twitter: mstrs_mercedes
          p#myInput.underline Instagram: mistress_mercedes
        .box
          h6 Session Request
          
          p.column-left-align.left-align Before reaching out, please read my site in its entirety. Respond to the following queries in your message: 
            p.left-align &#x25BC; desired type of session 
            p.left-align &#x25BC; proposed session length and dates
            p.left-align &#x25BC; session location (incall or outcall)
            p.left-align &#x25BC; your experience with BDSM
            p.left-align &#x25BC; references from other professionals with whom you have played
        
          p.left-align Clear communication before, during, and after a scene are a must. If you cannot ask me for what you want, or express your boundaries to me, you are not in for much of a session. If you cannot respect mine, you’re not in for a session at all. I look forward to responding to thoughtful, well written, genuine inquiries.
    // Footer
    footer#footer
      // Icons
      ul.icons
        li
          a.icon.fa-instagram(href='https://www.instagram.com/mistress_mercedes/')
            span.label Instagram
            
        li.email MistressMercedesMalcriada@gmail.com&nbsp;&nbsp;
        
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.poptrox.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
